:root {
  --font-family: "OpenSans-Regular", sans-serif;
  --content-width: 1400px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "Muller";
  src: url("../fonts/../fonts/MullerRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../fonts/../fonts/OpenSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  background-color: #F8F8F8;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.main.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 0;
  max-width: var(--container-width);
  margin: 0 auto;
}

.header {
  background-color: #ffffff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 100;
  width: 100%;
}
.header-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 70px 30px 70px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo {
  padding: 15px 19px;
  z-index: 100;
  position: absolute;
  left: 24px;
  top: 24px;
  background-color: #ffffff;
  width: 169px;
}
.header__logo-img {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: url(./../img/svg/logo_sfp.svg) no-repeat;
  height: 181px;
}
.header.fixed {
  position: fixed;
}
.header.fixed .header__logo {
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  width: 133px;
}
.header.fixed .header__logo-img {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: url(./../img/svg/fixed_logo.svg) no-repeat;
  height: 64px;
}
.header.fixed .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 150px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.nav__item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.nav__item .active {
  color: #33BAEC;
}
.nav__link {
  margin-right: 35px;
  color: #000000;
}

.header .hamburger {
  position: relative;
  z-index: 10050;
  width: 32px;
  height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .hamburger .line {
  width: 100%;
  height: 3px;
  background-color: #33BAEC;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-header {
  background-color: #ffffff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 100;
  width: 100%;
}
.main-header-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 70px 30px 70px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-header__logo {
  padding: 15px 19px;
  z-index: 100;
  position: absolute;
  left: 24px;
  top: 24px;
  background-color: #ffffff;
  width: 169px;
}
.main-header__logo-img {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: url(./../img/svg/logo_sfp.svg) no-repeat;
  height: 181px;
}
.main-header.fixed {
  position: fixed;
}
.main-header.fixed .header__logo {
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  width: 133px;
}
.main-header.fixed .header__logo-img {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: url(./../img/svg/fixed_logo.svg) no-repeat;
  height: 64px;
}
.main-header.fixed .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 150px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.nav__item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.nav__item .active {
  color: #33BAEC;
}
.nav__link {
  margin-right: 35px;
  color: #000000;
}

.header .hamburger {
  position: relative;
  z-index: 10050;
  width: 32px;
  height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .hamburger .line {
  width: 100%;
  height: 3px;
  background-color: #33BAEC;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.terminal-container {
  padding: 18px 425px 23px 219px;
  background: #223259;
}
.terminal__title {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 33px;
  line-height: 45px;
  color: #FFFFFF;
}

.slider {
  background: url(./img/bg.png) no-repeat center;
  z-index: 99;
  background-position: center -7px;
  height: 639px;
}
.slider-container {
  height: 100%;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.48);
}
.slider__content {
  color: #ffffff;
  padding: 122px 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.slider__title {
  font-weight: 800;
  font-size: 56px;
  line-height: 66px;
  margin-bottom: 18px;
}
.slider__descr {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  max-width: 936px;
  margin-bottom: 25px;
}
.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.slider__items .slider__item {
  padding-right: 35px;
  margin-bottom: 47px;
}
.slider__items .slider__item-num {
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 66px;
  color: #33BAEC;
  margin-bottom: 20px;
}
.slider__items .slider__item + .slider__item {
  padding-left: 30px;
  border-left: 1px solid #F5F5F5;
}
.slider__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: inherit;
  display: inline-block;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 35px;
  padding: 11px 45px;
}

.rules {
  color: #20305B;
  padding-bottom: 24px;
}
.rules-container {
  padding: 31px 60px 0px;
}
.rules__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  padding: 20px 12px;
}
.rules__img {
  margin-right: 40px;
}

.news {
  padding-bottom: 75px;
}
.news-container {
  padding: 0px 61px;
}
.news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 22px;
}
.news__item {
  padding: 29px 36px;
  background-color: #ffffff;
}
.news__item-title {
  color: #20305B;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 26px;
}
.news__item__block {
  margin-bottom: 23px;
}
.news__item__block-date {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #20305B;
  margin-bottom: 9px;
}
.news__item__block-descr {
  min-height: 129px;
  max-width: 346px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  letter-spacing: 1px;
}
.news__item__block:nth-child(2n) {
  margin-bottom: 11px;
}
.news__item__block + .news__item__block {
  padding-top: 23px;
  border-top: 0.25px solid #000000;
}
.news__item__btn {
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  display: block;
  background: #33BAEC;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 35px;
  padding: 5px 15px;
  max-width: 238px;
}

.logistics {
  color: #000000;
}
.logistics-container {
  padding: 0 60px;
}
.logistics__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #20305B;
  margin-left: 15px;
  margin-bottom: 47px;
}
.logistics__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 24px;
  padding-bottom: 64px;
}
.logistics__item {
  background: #ffffff;
  padding: 30px 50px;
}
.logistics__item__img {
  margin-bottom: 17px;
}
.logistics__item__descr {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
}

.footer {
  color: #ffffff;
  background: #223259;
}
.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 67px;
  gap: 100px;
}
.footer__service {
  width: 30%;
}
.footer__service__title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
}
.footer__service__list__link {
  color: #C8C8C8;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 43px;
}
.footer__contacts {
  max-width: 400px;
}
.footer__contacts__title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
}
.footer__contacts__adress, .footer__contacts__tel, .footer__contacts__mail {
  color: #C8C8C8;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 25px;
}
.footer__search {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.footer__search__reference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__search__reference__img {
  margin-right: 14px;
}
.footer__search__reference__descr {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
.footer__search__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__search__account__img {
  margin-right: 14px;
}
.footer__search__account__descr {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
.footer__search__form {
  position: relative;
}
.footer__search__input {
  height: 40px;
  width: 100%;
  display: block;
  padding: 0 40px 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #b4cccf;
  background: none;
  font-size: 16px;
  color: #fff;
}
.footer__search__btn {
  position: absolute;
  right: 9px;
  top: calc(50% - 15px);
}

.name {
  background: url(./../../img/name_bg.png) no-repeat center;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
.name-container {
  padding: 0;
  background: rgba(22, 106, 137, 0.37);
}
.name__title {
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 66px;
  padding: 55px 75px;
  color: #ffffff;
}

.general-container {
  padding: 0 60px;
  position: relative;
}
.general__content {
  padding-bottom: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.general__title {
  padding: 36px 0 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #33BAEC;
}
.general__img {
  background: url(./../img/ship.png) no-repeat center;
  width: 991px;
  height: 577px;
}
.general__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.general__item__num {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #33BAEC;
  margin-bottom: 7px;
}
.general__item__descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.general__bg {
  display: none;
  position: absolute;
  width: 584px;
  height: 584px;
  top: 100px;
  right: 0;
  -webkit-transform: translate(50%);
  -ms-transform: translate(50%);
  transform: translate(50%);
}

.infrastructure-container {
  padding: 0 60px;
  position: relative;
}
.infrastructure__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 70px;
}
.infrastructure__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.infrastructure__item__num {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #33BAEC;
  margin-bottom: 7px;
}
.infrastructure__item__descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}
.infrastructure__text {
  max-width: 966px;
}
.infrastructure__text__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #33BAEC;
  margin-bottom: 21px;
}
.infrastructure__text__1-descr1 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.01px;
  margin-bottom: 55px;
}
.infrastructure__list {
  padding-left: 20px;
}
.infrastructure__list__item {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.01px;
}
.infrastructure__list__item:not(:last-child) {
  margin-bottom: 20px;
}

.infrastructure__bg {
  display: none;
  position: absolute;
  width: 584px;
  height: 584px;
  top: 0;
  left: 0;
  -webkit-transform: translate(50%);
  -ms-transform: translate(50%);
  transform: translate(50%);
}

.terminals {
  padding-bottom: 105px;
}
.terminals__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.terminals__item {
  padding: 0 30px;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-height: 365px;
}
.terminals__item__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: #33BAEC;
  margin-bottom: 34px;
}
.terminals__item__img {
  margin-bottom: 34px;
}
.terminals__item__readmore {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #33BAEC;
}
.terminals__item + .terminals__item {
  border-left: 1px solid #000;
}

.sidebar {
  background: #F9F8F8;
  max-width: 375px;
  width: 100%;
}
.sidebar__list {
  padding: 86px 0;
  text-align: center;
}
.sidebar__item:not(:last-child) {
  margin-bottom: 22px;
}
.sidebar__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #20305B;
}
.sidebar__link.active {
  font-weight: 900;
  color: #33BAEC;
}

.vacancy-page {
  background-color: #fff;
}

.vacancy-container {
  padding: 41px 65px 184px;
}
.vacancy__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 26px;
}
.vacancy__item {
  padding: 40px 60px;
  background: #F9F8F8;
}
.vacancy__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #33BAEC;
  margin-bottom: 32px;
}
.vacancy__item__card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #314781;
}
.vacancy__item__card:not(:last-child) {
  margin-bottom: 30px;
}
.vacancy-list__item {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.plug-page {
  background: #ffffff;
}

.plug-container {
  display: block !important;
  padding: 44px 70px 191px;
}
.plug__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 20px;
}
.plug__item {
  background: #F9F8F8;
}
.plug__item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.plug__item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 42px 0 23px;
}
.plug__item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.plug__item__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: #33BAEC;
}

.managements-page {
  background: #ffffff;
}

.managements-container {
  padding: 77px 70px;
}
.managements__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}
.managements__item {
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 66px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
  max-width: 286px;
  max-height: 414px;
}
.managements__item-img {
  border-radius: 50%;
}
.managements__item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #314781;
}
.managements__item-prof {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}
.managements__item-mail, .managements__item-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.managements__item-mail {
  margin-bottom: 6px;
}
.managements__item-contacts {
  margin: 0 15px;
}
.managements .phone-img {
  margin-right: 8px;
}
.managements .phone-text {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-indent: 1px;
  color: #000000;
}
.managements .mail-img {
  margin-right: 8px;
}
.managements .mail-text {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-indent: 1px;
  color: #000000;
}

.map-container {
  padding: 74px 71px;
}
.map__addres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 21px;
}
.map__addres-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #314781;
}
.map__addres-icon {
  width: 26px;
  height: 31px;
  margin-right: 12px;
}
.map__descr {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #33BAEC;
}
.map__google {
  margin-bottom: 40px;
}
/*# sourceMappingURL=main.css.map */