:root {
  --font-family: "OpenSans-Regular", sans-serif;
  --content-width: 1400px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "Muller";
  src: url("../fonts/../fonts/MullerRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../fonts/../fonts/OpenSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  background-color: #F8F8F8;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.main.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 0;
  max-width: var(--container-width);
  margin: 0 auto;
}

.terminal-cargo-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 55px 60px;
  gap: 30px;
}

.port-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 55px 60px;
  gap: 130px;
}

.header {
  background-color: #ffffff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 100;
  width: 100%;
}
.header-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 70px 30px 70px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo {
  padding: 15px 19px;
  z-index: 100;
  position: absolute;
  left: 24px;
  top: 24px;
  background-color: #ffffff;
  width: 169px;
}
.header__logo-img {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: url(./../img/svg/logo_sfp.svg) no-repeat;
  height: 181px;
}
.header.fixed {
  position: fixed;
}
.header.fixed .header__logo {
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  width: 133px;
}
.header.fixed .header__logo-img {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: url(./../img/svg/fixed_logo.svg) no-repeat;
  height: 64px;
}
.header.fixed .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 150px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.nav__item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.nav__item .active {
  color: #33BAEC;
}
.nav__link {
  margin-right: 35px;
  color: #000000;
}

.header .hamburger {
  position: relative;
  z-index: 10050;
  width: 32px;
  height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .hamburger .line {
  width: 100%;
  height: 3px;
  background-color: #33BAEC;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-header {
  background-color: #ffffff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 100;
  width: 100%;
}
.main-header-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 70px 30px 70px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-header__logo {
  padding: 15px 19px;
  z-index: 100;
  position: absolute;
  left: 24px;
  top: 24px;
  background-color: #ffffff;
  width: 169px;
}
.main-header__logo-img {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: url(./../img/svg/logo_sfp.svg) no-repeat;
  height: 181px;
}
.main-header.fixed {
  position: fixed;
}
.main-header.fixed .header__logo {
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  width: 133px;
}
.main-header.fixed .header__logo-img {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: url(./../img/svg/fixed_logo.svg) no-repeat;
  height: 64px;
}
.main-header.fixed .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 150px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.nav__item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.nav__item .active {
  color: #33BAEC;
}
.nav__link {
  margin-right: 35px;
  color: #000000;
}

.header .hamburger {
  position: relative;
  z-index: 10050;
  width: 32px;
  height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .hamburger .line {
  width: 100%;
  height: 3px;
  background-color: #33BAEC;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.terminal-container {
  padding: 18px 425px 23px 219px;
  background: #223259;
}
.terminal__title {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 33px;
  line-height: 45px;
  color: #FFFFFF;
}

.slider {
  background: url(./../../img/bg.png) no-repeat center;
  z-index: 99;
  background-position: center -7px;
  height: 639px;
}
.slider-container {
  height: 100%;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.48);
}
.slider__content {
  color: #ffffff;
  padding: 122px 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.slider__title {
  font-weight: 800;
  font-size: 56px;
  line-height: 66px;
  margin-bottom: 18px;
}
.slider__descr {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  max-width: 936px;
  margin-bottom: 25px;
}
.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.slider__items .slider__item {
  padding-right: 35px;
  margin-bottom: 47px;
}
.slider__items .slider__item-num {
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 66px;
  color: #33BAEC;
  margin-bottom: 20px;
}
.slider__items .slider__item + .slider__item {
  padding-left: 30px;
  border-left: 1px solid #F5F5F5;
}
.slider__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: inherit;
  display: inline-block;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 35px;
  padding: 11px 45px;
}

.intro {
  width: 100%;
  height: 940px;
  overflow-x: hidden;
  position: relative;
}

.intro-slider {
  position: relative;
  z-index: 1;
}

.intro__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 36px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  height: 100px;
  width: 30%;
  background-color: var(--white);
  bottom: 0;
  left: 0;
  z-index: 3;
}

.intro__down-btn {
  display: block;
  height: 100px;
  width: 40%;
  background-color: #f7f8fa;
  -webkit-box-ordinal-group: -1;
  -ms-flex-order: -2;
  order: -2;
  position: relative;
  -webkit-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

@-webkit-keyframes fly {
  0% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  50% {
    -webkit-transform: translate(-50%, 40%);
    transform: translate(-50%, 40%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@keyframes fly {
  0% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  50% {
    -webkit-transform: translate(-50%, 40%);
    transform: translate(-50%, 40%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.intro__down-btn::before {
  content: "";
  display: block;
  background: url(../img/dropdown-arrow.png) 0 0 no-repeat;
  width: 24px;
  height: 13px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.intro__down-btn:hover {
  background-color: #e2e2e2;
}

.intro__down-btn:hover.intro__down-btn::before {
  -webkit-animation: fly 1s ease-in-out infinite;
  animation: fly 1s ease-in-out infinite;
}

.intro-slider__slick-next,
.intro-slider__slick-prev {
  padding: 0;
  border: none;
  cursor: pointer;
  background: url(../img/noun_Arrow_2094744.svg) 0 0 no-repeat;
  width: 30px;
  height: 48px;
  margin-bottom: -24px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.intro-slider__slick-next:hover {
  -webkit-transform: translateX(10%);
  -ms-transform: translateX(10%);
  transform: translateX(10%);
  background: url(../img/noun_Arrow-blue.svg) 0 0 no-repeat;
}

.intro-slider__slick-prev:hover {
  -webkit-transform: rotate(180deg) translateY(18px) translateX(10%);
  -ms-transform: rotate(180deg) translateY(18px) translateX(10%);
  transform: rotate(180deg) translateY(18px) translateX(10%);
  background: url(../img/noun_Arrow-blue.svg) 0 0 no-repeat;
}

.intro-slider__slick-prev {
  -webkit-transform: rotate(180deg) translateY(18px);
  -ms-transform: rotate(180deg) translateY(18px);
  transform: rotate(180deg) translateY(18px);
  margin-right: -20px;
}

.slick-dots {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.slick-dots li {
  margin: 0 10px;
  margin-top: -9px;
}

.slick-dots li button {
  padding: 0;
  font-size: 0;
  cursor: pointer;
  border: none;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #d6d6d6;
  -webkit-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.slick-dots li.slick-active button {
  background: var(--secondary-color);
}

.slick-dots li.slick-active {
  position: relative;
}

.slick-dots li.slick-active::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--color-grey);
  position: absolute;
  top: calc(50% + 6px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.intro__inner {
  position: absolute;
  top: 180px;
  z-index: 1;
}

.intro__title {
  font-size: 55px;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 80px;
}

.intro__list {
  margin-bottom: 47px;
  display: inline-block;
}

.intro__btn {
  height: 60px;
  width: 265px;
  display: inline-block;
  background: var(--white);
  line-height: 60px;
  font-size: 15px;
  color: var(--primary-color);
  font-family: "Gilroy-Bold";
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.intro__btn + .intro__btn {
  margin-left: 30px;
}

.intro__btn p {
  position: absolute;
  left: calc(50% + 20px);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 100;
}

.btn__img {
  position: absolute;
  left: 18px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 100;
}

.intro__btn::before {
  content: "";
  color: transparent;
  display: block;
  height: 100%;
  width: 55px;
  position: absolute;
  left: 0;
  background: var(--orange-color);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.intro__btn:hover {
  color: var(--white);
}

.intro__btn:hover.intro__btn::before {
  width: 100%;
}

@-webkit-keyframes puls {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes puls {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
.intro-btn--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
  left: -60px;
}

.intro__btn-video-wrapper {
  display: block;
  width: 250px;
  height: 250px;
  margin-left: -60px;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.intro__btn-video-wrapper:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}

.intro__btn-desc {
  font-family: "Gilroy-Medium";
  font-weight: 500;
  font-size: 24px;
  color: var(--white);
  position: absolute;
  top: 50%;
  right: -60px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.intro__btn-video-wrapper::before {
  content: "";
  display: block;
  width: 250px;
  height: 250px;
  margin-bottom: -25px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, color-stop(-28.5%, var(--secondary-color)), color-stop(95.22%, rgba(255, 94, 20, 0)));
  background: -o-linear-gradient(left, var(--secondary-color) -28.5%, rgba(255, 94, 20, 0) 95.22%);
  background: linear-gradient(90deg, var(--secondary-color) -28.5%, rgba(255, 94, 20, 0) 95.22%);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-animation: puls 3s ease-in-out infinite;
  animation: puls 3s ease-in-out infinite;
}

.intro__btn-video {
  border: none;
  padding: 0;
  font-size: 0;
  background-color: #dd6630;
  height: 92px;
  width: 92px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.intro__btn-video span {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 17px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  top: 50%;
  left: calc(50% + 2px);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container--relative {
  position: relative;
  z-index: 2;
}

.intro-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 16px;
  margin-top: 220px;
}

.intro__link {
  font-family: "Gilroy-Medium";
  font-weight: 500;
  font-size: 20px;
  color: var(--white);
}

.intro__link .fa {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding-top: 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.35);
  font-size: 18px;
  line-height: 20px;
  margin-right: 14px;
  -webkit-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.intro__link span {
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.intro__mail-link .fa {
  padding-top: 14px;
}

.intro__link:hover span {
  color: var(--orange-color);
}

.intro__link:hover .fa {
  background-color: var(--orange-color);
}

.intro__popup-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  opacity: 0.5;
  background-color: #000;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  75% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  75% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
/*************** modal *************/
.intro-modal__overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.intro-modal__content {
  padding-top: 25px;
  position: relative;
}

.intro-modal__close-btn {
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  opacity: 0.4;
  right: 0;
  top: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.intro-modal__close-btn:hover {
  opacity: 1;
}

.intro-modal__close-btn span {
  font-size: 0;
  display: block;
}

.intro-modal__close-btn span::after,
.intro-modal__close-btn span::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: var(--white);
}

.intro-modal__close-btn span::after {
  -webkit-transform: rotate(-45deg) translate(1px, -1px);
  -ms-transform: rotate(-45deg) translate(1px, -1px);
  transform: rotate(-45deg) translate(1px, -1px);
}

.intro-modal__close-btn span::before {
  -webkit-transform: rotate(45deg) translate(1px, 1px);
  -ms-transform: rotate(45deg) translate(1px, 1px);
  transform: rotate(45deg) translate(1px, 1px);
}

.intro-modal__video {
  width: 80vw;
  height: 80vh;
}

.rules {
  color: #20305B;
  padding-bottom: 24px;
}
.rules-container {
  padding: 31px 60px 0px;
}
.rules__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  padding: 20px 12px;
}
.rules__img {
  margin-right: 40px;
}

.news {
  padding-bottom: 75px;
}
.news-container {
  padding: 0px 61px;
}
.news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 22px;
}
.news__item {
  padding: 29px 36px;
  background-color: #ffffff;
}
.news__item-title {
  color: #20305B;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 26px;
}
.news__item__block {
  margin-bottom: 23px;
}
.news__item__block-date {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #20305B;
  margin-bottom: 9px;
}
.news__item__block-descr {
  min-height: 129px;
  max-width: 346px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  letter-spacing: 1px;
}
.news__item__block:nth-child(2n) {
  margin-bottom: 11px;
}
.news__item__block + .news__item__block {
  padding-top: 23px;
  border-top: 0.25px solid #000000;
}
.news__item__btn {
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  display: block;
  background: #33BAEC;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 35px;
  padding: 5px 15px;
  max-width: 238px;
}

.logistics {
  color: #000000;
}
.logistics-container {
  padding: 0 60px;
}
.logistics__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #20305B;
  margin-left: 15px;
  margin-bottom: 47px;
}
.logistics__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 24px;
  padding-bottom: 64px;
}
.logistics__item {
  background: #ffffff;
  padding: 30px 50px;
}
.logistics__item__img {
  margin-bottom: 17px;
}
.logistics__item__descr {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
}

.footer {
  color: #ffffff;
  background: #223259;
}
.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 67px;
  gap: 100px;
}
.footer__service {
  width: 30%;
}
.footer__service__title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
}
.footer__service__list__link {
  color: #C8C8C8;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 43px;
}
.footer__contacts {
  max-width: 400px;
}
.footer__contacts__title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
}
.footer__contacts__adress, .footer__contacts__tel, .footer__contacts__mail {
  color: #C8C8C8;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 25px;
}
.footer__search {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.footer__search__reference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__search__reference__img {
  margin-right: 14px;
}
.footer__search__reference__descr {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
.footer__search__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__search__account__img {
  margin-right: 14px;
}
.footer__search__account__descr {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
.footer__search__form {
  position: relative;
}
.footer__search__input {
  height: 40px;
  width: 100%;
  display: block;
  padding: 0 40px 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #b4cccf;
  background: none;
  font-size: 16px;
  color: #fff;
}
.footer__search__btn {
  position: absolute;
  right: 9px;
  top: calc(50% - 15px);
}

.name {
  background: url(./../../img/name_bg.png) no-repeat center;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
.name-container {
  padding: 0;
  background: rgba(22, 106, 137, 0.37);
}
.name__title {
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 66px;
  padding: 55px 75px;
  color: #ffffff;
}

.general-container {
  padding: 0 60px;
  position: relative;
}
.general__content {
  padding-bottom: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.general__title {
  padding: 36px 0 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #33BAEC;
}
.general__img {
  background: url(./../../img/ship.png) no-repeat center;
  width: 991px;
  height: 577px;
}
.general__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.general__item__num {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #33BAEC;
  margin-bottom: 7px;
}
.general__item__descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.general__bg {
  display: none;
  position: absolute;
  width: 584px;
  height: 584px;
  top: 100px;
  right: 0;
  -webkit-transform: translate(50%);
  -ms-transform: translate(50%);
  transform: translate(50%);
}

.infrastructure-container {
  padding: 0 60px;
  position: relative;
}
.infrastructure__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 70px;
}
.infrastructure__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.infrastructure__item__num {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #33BAEC;
  margin-bottom: 7px;
}
.infrastructure__item__descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}
.infrastructure__text {
  max-width: 966px;
}
.infrastructure__text__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #33BAEC;
  margin-bottom: 21px;
}
.infrastructure__text__1-descr1 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.01px;
  margin-bottom: 55px;
}
.infrastructure__list {
  padding-left: 20px;
}
.infrastructure__list__item {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.01px;
}
.infrastructure__list__item:not(:last-child) {
  margin-bottom: 20px;
}

.infrastructure__bg {
  display: none;
  position: absolute;
  width: 584px;
  height: 584px;
  top: 0;
  left: 0;
  -webkit-transform: translate(50%);
  -ms-transform: translate(50%);
  transform: translate(50%);
}

.terminals {
  padding-bottom: 105px;
}
.terminals__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.terminals__item {
  padding: 0 30px;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-height: 365px;
}
.terminals__item__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: #33BAEC;
  margin-bottom: 34px;
}
.terminals__item__img {
  margin-bottom: 34px;
}
.terminals__item__readmore {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #33BAEC;
}
.terminals__item + .terminals__item {
  border-left: 1px solid #000;
}

.sidebar {
  background: #F9F8F8;
  max-width: 375px;
  width: 100%;
}
.sidebar__list {
  padding: 86px 0;
  text-align: center;
}
.sidebar__item:not(:last-child) {
  margin-bottom: 22px;
}
.sidebar__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #20305B;
}
.sidebar__link.active {
  font-weight: 900;
  color: #33BAEC;
}

.vacancy-page {
  background-color: #fff;
}

.vacancy-container {
  padding: 41px 65px 184px;
}
.vacancy__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 26px;
}
.vacancy__item {
  padding: 40px 60px;
  background: #F9F8F8;
}
.vacancy__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #33BAEC;
  margin-bottom: 32px;
}
.vacancy__item__card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #314781;
}
.vacancy__item__card:not(:last-child) {
  margin-bottom: 30px;
}
.vacancy-list__item {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.plug-page {
  background: #ffffff;
}

.plug-container {
  display: block !important;
  padding: 44px 70px 191px;
}
.plug__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 20px;
}
.plug__item {
  background: #F9F8F8;
}
.plug__item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.plug__item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 42px 0 23px;
}
.plug__item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.plug__item__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: #33BAEC;
}

.managements-page {
  background: #ffffff;
}

.managements-container {
  padding: 77px 70px;
}
.managements__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}
.managements__item {
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 66px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
  max-width: 286px;
  max-height: 414px;
}
.managements__item-img {
  border-radius: 50%;
}
.managements__item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #314781;
}
.managements__item-prof {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}
.managements__item-mail, .managements__item-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.managements__item-mail {
  margin-bottom: 6px;
}
.managements__item-contacts {
  margin: 0 15px;
}
.managements .phone-img {
  margin-right: 8px;
}
.managements .phone-text {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-indent: 1px;
  color: #000000;
}
.managements .mail-img {
  margin-right: 8px;
}
.managements .mail-text {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-indent: 1px;
  color: #000000;
}

.map-container {
  padding: 74px 71px;
}
.map__addres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 21px;
}
.map__addres-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #314781;
}
.map__addres-icon {
  width: 26px;
  height: 31px;
  margin-right: 12px;
}
.map__descr {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #33BAEC;
}
.map__google {
  margin-bottom: 40px;
}

.general-contact__main {
  width: 100%;
}
.general-contact-container {
  padding: 40px 60px;
}
.general-contact__content {
  padding: 40px 35px;
  background: #F9F8F8;
  border-radius: 20px;
}
.general-contact__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #33BAEC;
  text-align: center;
  margin-bottom: 45px;
}
.general-contact__tel {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
.general-contact__fax {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
.general-contact__mail {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
.general-contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-right: 100px;
  max-width: 75%;
}
.general-contact__item:not(:last-child) {
  border-bottom: 0.5px solid #33BAEC;
}

.container-terminal-container {
  padding: 40px 60px 60px 45px;
}
.container-terminal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.container-terminal__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #33BAEC;
  text-align: center;
  margin-bottom: 50px;
}
.container-terminal__item {
  background: #F9F8F8;
  border-radius: 20px;
  max-width: 313px;
  padding: 20px 10px;
}
.container-terminal__item__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.container-terminal__item__up-img {
  margin-right: 6px;
}
.container-terminal__item__up-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.container-terminal__item__down {
  margin-left: 15px;
}
.container-terminal__item__down-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.container-terminal__item__down-tel__title {
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-indent: 1px;
  color: #33BAEC;
}
.container-terminal__item__down-tel__text {
  font-weight: 300;
  font-size: 17px;
  line-height: 23px;
}
.container-terminal__item__down-tel__phone {
  font-weight: 300;
  font-size: 17px;
  line-height: 23px;
}
.container-terminal__item__down-tel:not(:last-child) {
  margin-bottom: 5px;
}

.sales-department-container {
  padding: 40px 60px 60px 45px;
}
.sales-department__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.sales-department__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #33BAEC;
  text-align: center;
  margin-bottom: 50px;
}
.sales-department__item {
  background: #F9F8F8;
  border-radius: 20px;
  max-width: 313px;
  width: 100%;
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sales-department__item__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.sales-department__item__up-img {
  margin-right: 6px;
}
.sales-department__item__up-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin: 0px 20px;
}
.sales-department__item__down {
  margin-left: 15px;
}
.sales-department__item__down__title {
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-indent: 1px;
  color: #33BAEC;
  margin-bottom: 10px;
}
.sales-department__item__down-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.sales-department__item__down-tel__text {
  font-weight: 300;
  font-size: 17px;
  line-height: 23px;
}
.sales-department__item__down-tel__phone {
  font-weight: 300;
  font-size: 17px;
  line-height: 23px;
}
.sales-department__item__down-tel:not(:last-child) {
  margin-bottom: 5px;
}

.form {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 23px;
  text-indent: 1px;
  padding-bottom: 100px;
}
.form-container {
  padding: 40px 60px 60px 45px;
}
.form__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #33BAEC;
  text-align: center;
  margin-bottom: 50px;
}
.form__content {
  background: #F9F8F8;
  border-radius: 20px;
}
.form__form {
  padding: 27px;
}
.form__form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin-bottom: 18px;
}
.form__input {
  background: #FFFFFF;
  border-radius: 10px;
  border: none;
  padding: 18px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.form-textarea {
  background: #FFFFFF;
  border-radius: 10px;
  border: none;
  padding: 18px;
  width: 100%;
  margin-bottom: 18px;
  resize: none;
}
.form__btn {
  position: relative;
  background: #33BAEC;
  border: 1px solid #33BAEC;
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 20px;
  margin: 0 auto;
}
.form__btn-img {
  margin-right: 20px;
}
.form__btn-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
}

.news-section-main {
  width: 100%;
}
.news-section-container {
  padding: 45px 95px;
}
.news-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #33BAEC;
  margin-bottom: 50px;
}
.news-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 50px;
  -webkit-column-gap: 35px;
  -moz-column-gap: 35px;
  column-gap: 35px;
  margin-bottom: 115px;
}
.news-section__item {
  padding: 25px 23px;
  max-width: 415px;
  height: 260px;
  overflow-y: scroll;
  background: #F9F8F8;
  border-radius: 12px;
}
.news-section__item-data {
  font-weight: 300;
  font-size: 17px;
  line-height: 23px;
  opacity: 0.5;
  margin-bottom: 10px;
  width: 80%;
}
.news-section__item-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #33BAEC;
  margin-bottom: 14px;
  width: 80%;
}
.news-section__item-descr {
  font-weight: 300;
  font-size: 17px;
  line-height: 23px;
  color: #000000;
  width: 80%;
}
.news-section__pagination {
  border-top: 0.4px solid #C9C9C9;
}
.news-section__pagination__pages {
  text-align: center;
}
.news-section__pagination-btn {
  padding: 14px 45px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #33BAEC;
}
.news-section__pagination-btn.active {
  border-top: 3px solid #33BAEC;
}

.terminal-container-picture-container {
  padding: 55px 60px;
}
.terminal-container-picture-img {
  width: 952px;
  height: 509px;
  margin-bottom: 40px;
}
.terminal-container-picture-descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
.terminal-container-picture-descr:not(:last-child) {
  margin-bottom: 20px;
}

.terminal-container-services {
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  text-indent: 1px;
  -webkit-font-feature-settings: "liga" off;
  font-feature-settings: "liga" off;
  color: #000000;
}
.terminal-container-services-container {
  padding: 0px 60px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.terminal-container-services__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.terminal-container-services__content-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #33BAEC;
  margin-bottom: 35px;
}
.terminal-container-services__content-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.terminal-container-services__side {
  max-width: 360px;
  width: 100%;
}
.terminal-container-services__side__item {
  background: #F9F8F8;
  border-radius: 12px;
  padding: 35px 30px;
}
.terminal-container-services__side__item:not(:last-child) {
  margin-bottom: 15px;
}
.terminal-container-services__side__item-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #33BAEC;
  margin-bottom: 10px;
}
.terminal-container-services__side__item-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.terminal-container-treatment-container {
  padding: 0px 60px 70px;
}
.terminal-container-treatment-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #33BAEC;
  margin-bottom: 35px;
}
.terminal-container-treatment__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 20px;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}
.terminal-container-treatment__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 20px;
  gap: 40px;
  width: calc(50% - 15px);
  background: #F9F8F8;
  border-radius: 12px;
}
.terminal-container-treatment__item-descr {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
}

.terminal-container-scheme-container {
  padding: 0px 60px 130px;
}
.terminal-container-scheme-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #33BAEC;
  margin-bottom: 20px;
}
.terminal-cargo-main-left {
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  text-indent: 1px;
  -webkit-font-feature-settings: "liga" off;
  font-feature-settings: "liga" off;
  color: #000000;
}
.terminal-cargo-main-left-container {
  height: 100%;
}
.terminal-cargo-main-left__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 50px;
}
.terminal-cargo-main-left__content-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #33BAEC;
  margin-bottom: 35px;
}
.terminal-cargo-main-left__content-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.terminal-cargo-main-left__treatment-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #33BAEC;
  margin-bottom: 35px;
}
.terminal-cargo-main-left__treatment__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}
.terminal-cargo-main-left__treatment__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 20px;
  gap: 40px;
  width: 85%;
  background: #F9F8F8;
  border-radius: 12px;
}
.terminal-cargo-main-left__treatment__item-descr {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
}

.terminal-cargo-main-right {
  max-width: 360px;
  width: 100%;
}
.terminal-cargo-main-right-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.terminal-cargo-main-right__item {
  background: #F9F8F8;
  border-radius: 12px;
  padding: 35px 30px;
}
.terminal-cargo-main-right__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.terminal-cargo-main-right__item:not(:last-child) {
  margin-bottom: 15px;
}
.terminal-cargo-main-right__item-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #33BAEC;
  margin-bottom: 10px;
}
.terminal-cargo-main-right__item-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.port-right {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.port-right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.port-right__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #33BAEC;
  margin-bottom: 35px;
}
.port-right__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}
.port-right__item {
  background: #F9F8F8;
  border-radius: 12px;
  padding: 35px 30px;
}
.port-right__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
}
.port-right__item-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #33BAEC;
}
.port-right__item-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}
.port-right__item-item {
  color: #33BAEC;
}

.port-left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.port-left__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #33BAEC;
  margin-bottom: 35px;
}
.port-left__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.port-left__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 20px;
  gap: 70px;
  background: #F9F8F8;
  border-radius: 12px;
}
.port-left__item-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.port-left__item-descr-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #314781;
}
.port-left__item-descr-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #20305B;
}
/*# sourceMappingURL=new.css.map */